.navBar {
  background-color: #333;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.navItem {
  padding: 14px 20px;
}

.navItem a {
  color: white;
  text-align: center;
  text-decoration: none;
  display: block;
}

.navItem a:hover {
  background-color: #575757;
}
